@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-mono: 'JetBrains Mono', ui-monospace, monospace;
    
    --color-primary: #EFFE6D;
    --color-primary-hover: #f5f961;
    --color-secondary: #319885;
    --color-secondary-dark: #2a8070;
}
